*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Merriweather,sans-serif;
    background-color: #E9F7EF;

}

.row{
    margin: 1px;
}

.content{
    margin: 10px;
}

p{
    font-size: 12px;
}

.form-content,.home-content{
    margin:0px 40px;
    padding: 15px;

}