<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
    <title>Knowledge Portal</title>
<body>
    <div class="content">
    <h1 style="color: green; font-family: Segoe Print;">Welcome to Knowledge Portal </h1>
    <hr color="green">
    <h3 style="font-family: papyrus;">Gaining knowledge, is the first step to wisdom.<br>
        Sharing it, is the first step to humanity</h3>
    </div>
    <div class="home-content">
    <h4 style="font-family: Javanese Text;">Start Gaining Knowledge <a href="/topics" class="btn btn-success btn-sm">Explore Topics</a></h3>
    <h4 style="font-family: Javanese Text;">Start Sharing Knowledge <a href="/login" class="btn btn-success btn-sm">Login with Google</a></h3>
    </div>
    <br>
    <hr color="green">
    <p style="text-align: center;font-size: 6px;">COPYRIGHT © 2022 Infinity Innovators Interns</p>
    
</body>
</html>